
h1, h2, h3, h4, h5, h6 { font-weight: normal; }

/* IBMPlexMono */

@font-face {
    font-family: "IBMPlexMono";
    src: url("../fonts/IBMPlexMono/IBMPlexMono-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "IBMPlexMono";
    src: url("../fonts/IBMPlexMono/IBMPlexMono-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "IBMPlexMono";
    src: url("../fonts/IBMPlexMono/IBMPlexMono-Text.ttf") format("truetype");
    font-weight: 350;
    font-style: normal;
}

@font-face {
    font-family: "IBMPlexMono";
    src: url("../fonts/IBMPlexMono/IBMPlexMono-TextItalic.ttf") format("truetype");
    font-weight: 350;
    font-style: italic;
}

@font-face {
    font-family: "IBMPlexMono";
    src: url("../fonts/IBMPlexMono/IBMPlexMono-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "IBMPlexMono";
    src: url("../fonts/IBMPlexMono/IBMPlexMono-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "IBMPlexMono";
    src: url("../fonts/IBMPlexMono/IBMPlexMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "IBMPlexMono";
    src: url("../fonts/IBMPlexMono/IBMPlexMono-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "IBMPlexMono";
    src: url("../fonts/IBMPlexMono/IBMPlexMono-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "IBMPlexMono";
    src: url("../fonts/IBMPlexMono/IBMPlexMono-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "IBMPlexMono";
    src: url("../fonts/IBMPlexMono/IBMPlexMono-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "IBMPlexMono";
    src: url("../fonts/IBMPlexMono/IBMPlexMono-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "IBMPlexMono";
    src: url("../fonts/IBMPlexMono/IBMPlexMono-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "IBMPlexMono";
    src: url("../fonts/IBMPlexMono/IBMPlexMono-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "IBMPlexMono";
    src: url("../fonts/IBMPlexMono/IBMPlexMono-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "IBMPlexMono";
    src: url("../fonts/IBMPlexMono/IBMPlexMono-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}



/* jost */

@font-face {
    font-family: "jost";
    src: url("../fonts/jost/Jost-100-HairlineItalic.ttf");
    font-style: italic;
    font-weight: 100;
}
@font-face {
    font-family: "jost";
    src: url("../fonts/jost/Jost-100-Hairline.ttf");
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: "jost";
    src: url("../fonts/jost/Jost-200-ThinItalic.ttf");
    font-style: italic;
    font-weight: 200;
}
@font-face {
    font-family: "jost";
    src: url("../fonts/jost/Jost-200-Thin.ttf");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "jost";
    src: url("../fonts/jost/Jost-300-LightItalic.ttf");
    font-style: italic;
    font-weight: 300;
}
@font-face {
    font-family: "jost";
    src: url("../fonts/jost/Jost-300-Light.ttf");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "jost";
    src: url("../fonts/jost/Jost-400-BookItalic.ttf");
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: "jost";
    src: url("../fonts/jost/Jost-400-Book.ttf");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "jost";
    src: url("../fonts/jost/Jost-500-MediumItalic.ttf");
    font-style: italic;
    font-weight: 500;
}
@font-face {
    font-family: "jost";
    src: url("../fonts/jost/Jost-500-Medium.ttf");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "jost";
    src: url("../fonts/jost/Jost-600-SemiItalic.ttf");
    font-style: italic;
    font-weight: 600;
}
@font-face {
    font-family: "jost";
    src: url("../fonts/jost/Jost-600-Semi.ttf");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "jost";
    src: url("../fonts/jost/Jost-700-BoldItalic.ttf");
    font-style: italic;
    font-weight: 700;
}
@font-face {
    font-family: "jost";
    src: url("../fonts/jost/Jost-700-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "jost";
    src: url("../fonts/jost/Jost-800-HeavyItalic.ttf");
    font-style: italic;
    font-weight: 800;
}
@font-face {
    font-family: "jost";
    src: url("../fonts/jost/Jost-800-Heavy.ttf");
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: "jost";
    src: url("../fonts/jost/Jost-900-BlackItalic.ttf");
    font-style: italic;
    font-weight: 900;
}
@font-face {
    font-family: "jost";
    src: url("../fonts/jost/Jost-900-Black.ttf");
    font-style: normal;
    font-weight: 900;
}