[v-cloak] {
  display: none;
}

:root {
  --blue: #15aabf;
  --background: #f3e3c2;
  --border: white;
  --secondary: #2f4858;
}

.navbar {
  background-color: #2f4858;
  color: white;
}

.navbar a, .navbar a:hover {
  color: white !important;
}

#main-card {
  border: none;
}

#logos {
  text-align: center;
}

.logo {
  height: 40px;
}

#offcanvasAbout.offcanvas, #offcanvasLegal.offcanvas, #offcanvasEdition.offcanvas {
  width: 50% !important;
  border-right: 2px solid var(--border);
  text-align: justify;
  background-image: url(../img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#offcanvasAbout.offcanvas h2, #offcanvasLegal.offcanvas h2, #offcanvasEdition.offcanvas h2 {
  color: white;
  background-color: var(--secondary);
  cursor: pointer;
  text-align: center;
}

#offcanvasAbout.offcanvas .offcanvas-header, #offcanvasLegal.offcanvas  .offcanvas-header, #offcanvasEdition.offcanvas .offcanvas-header {
  padding-bottom: 0px;
}

#offcanvasAbout.offcanvas .offcanvas-body, #offcanvasLegal.offcanvas .offcanvas-body, #offcanvasEdition.offcanvas .offcanvas-body {
  background-color: white;
}

/* TEXT */
#roman .front, #roman .body {
  text-align: justify;
}

#roman .match-location {
  color: white;
  background-color: var(--secondary);
  padding: 1px;
  text-decoration: none;
}

#roman .location {
  border-radius: 0px;
}

.current-location {
  text-decoration: underline;
}

*[data-location] {
  text-decoration: underline;
}

.img-name, #roman *[data-location] {
  cursor: pointer;
}

/* #roman {
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
} */
.location {
  fill: #15aabf;
  fill-opacity: 0.4;
  stroke: white;
  stroke-width: 5;
  border-radius: 5px;
}

.location-hidden {
  fill: white;
  fill-opacity: 0.6;
  border-radius: 5px;
}

h1 {
  padding-top: 20px;
  margin-bottom: 20px;
}

.highlighted {
  color: var(--blue);
}

#modal-current-location {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 150%;
}

#gallery .card {
  break-inside: avoid;
  page-break-inside: avoid;
}

#search-location {
  width: 100%;
  margin: auto;
}

.bgblue {
  background-color: var(--blue);
  color: white;
}

.displayregion {
  border: 2px solid #FF8718 !important;
}

.bgblue:empty {
  background-color: white;
}

/*
  SVG
*/
g {
  background-color: white;
  overflow: hidden;
  text-overflow: hidden;
  opacity: 0.4;
}

g.overlay {
  border: 1px solid black;
}

g.overlay-active {
  border: 5px solid var(--blue);
  border-radius: 5px;
}

.overlay-legend {
  font-size: 0.5vw;
}

#locations-choice {
  color: white;
  background-color: var(--blue);
  font-weight: bolder;
}

#roman.v2 .orig, #roman:not(.v2) .ajout, #roman:not(.v2) .add {
  display: none;
}

#roman.v2 .ajout, #roman.v2 .add, #roman .orig {
  display: '';
}

#col-locations, #col-imgs {
  background-image: url(../img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#col-locations ul {
  list-style-type: none;
}

#col-locations li, .pinned-location {
  cursor: pointer;
}

#col-locations li.currentLocation {
  color: var(--secondary);
  font-weight: bold;
}

#col-locations h5, #col-imgs h5 {
  margin-top: 8px;
  text-align: center;
  background-color: var(--secondary);
  color: white;
}

#col-locations, #col-imgs, #col-roman {
  max-height: 90vh;
  overflow: auto;
}

#col-roman>h1 {
  text-align: center;
}

.card-body {
  padding-top: 2px;
}

#locations {
  color: black;
  padding: 0.5rem;
}

#locations li {
  margin: 4px 0;
}

#locations, #pinnedLocations {
  color: black;
}

.toggle-pin {
  cursor: pointer;
  font-size: 80%;
  color: black;
  padding: 1px 2px;
  font-weight: normal;
}

#opened-imgs {
  padding-top: 5px;
}

#col-imgs fieldset {
  display: inline-block;
}

#col-imgs object {
  width: 100%;
  max-width: 100%;
}

#current-location {
  text-align: center;
  margin-bottom: 20px;
  font-size: 150%;
}

#top-locations-link {
  position: absolute;
  bottom: 4px;
  left: 8px;
}
